<%- include('../partials/head', {errors, info}); %>
<h1 style="text-align: center;">Jobs</h1>
<h2 style="text-align: center;"><a href="/logon">Logon</a> or <a href="/sign-up">Register</a></p>
</body>
</html>