<%- include("../partials/head", {errors, info}) %>
<div class="container justify-content-center">
<div class="w-50 container">
   <div class="mt-10 mb-10">
  <h1 style="text-align: center;">Logon</h1>
</div>
  <div class="mb-3 border border-5">
  <form action="/logon" method="POST">
    <div class="mb-3 ms-3 m3-3">
      <label for="username" class="form-label">Email</label>
      <input name="username" id="username" type="text" class="form-control"/>
    </div>
    <div class="mb-3 ms-3 me-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" id="password" type="password" class="form-control"/>
    </div>
    <div class="mb-3 ms-3 me-3">
    <button type="submit" class="btn btn-primary">Logon</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
  </div>
  </form>
</div class="mt-10">
  <a href="/" class="btn btn-primary mt-10">Back</a>
</div>
</div>
<%- include("../partials/foot") %>